.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 4px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

.refresh-btn {
  background-color: #007bff;
  color: white;
  border: 50px;
  padding: 15px 30px; 
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refresh-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.refresh-btn:hover {
  background-color: #0056b3;
}

footer {
  font-size: 18px
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
